body{
  margin :0;
  text-align: center;
  font-family :  Merriweather;
  font-size: 100%;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-size: 5.62rem;
  margin :50px auto 0 auto ;
  font-family : Sacramento;
  line-height: 2;
}
h2{
  color : #66BFBF;
  font-family : Montserrat;
  font-size: 2.5rem;
  font-weight: normal;
}
h3{
  color : #11999E;
  font-family : Montserrat;
  font-size: 2rem;
}

.bottom-cloud{
  position :absolute;
  left :300px;
  bottom : 300px;
}
.top-cloud
{
  position : absolute;
  right :300px;
  top : 50px;
}
.top-container
{
  background-color :#EAF6F6;
  padding-top: 100px;
  position : relative;
}
.midddle-container
{
  text-align: center;
  margin-bottom : 100px;
}
.bottom-container
{
  color : #11999E;
  font-size: 100%;
  background-color: #66BFBF;
  position : relative;
  margin-top: 50px;
  padding : 20px ;

}
/* .cler
{
  clear: left;
} */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family : Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom : 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.cplus
{
  float : right;
  margin-left : 4px;
  clear : left;
}

.contact-me
{
  width : 50%;
  margin : auto ;
  font-size: 20px;
  line-height: 2
}

.developer
{
  float : left;
  margin-right : 14px;
  margin-bottom : 50px;
}

.footer-link
{
  text-decoration: none;
  color : #11999E;
  font-family : Montserrat;
  margin : 10px 20px ;
}
.footer-link:hover
{
  color : #EAF6F6;
}

.hr
{
  border: dotted #EAF6F6 6px ;
  border-bottom : none;
  width : 4%;
  margin-bottom: 70 ;
  margin-top : 70px;
}
.profile
{
  width : 50%;
  margin : 100px auto 100px auto ;
  font-size: 20px;
  line-height: 2

}

.rem
{
  color : #EAF6F6;
  padding: 20px ;
  font-size: 0.75rem;
}
.skills{
  margin-top : 70px;

}
/* .skill-dev
{
  text-align : right;
} */
.skill-data
{
  clear : left;
}
.skill-row
{
  width: 60%;
  text-align: center;
  margin: 50px  auto   50px  auto ;
  font-size: 20px;
  line-height: 2
}
/*
.middle-container
{
  background-color: lightgreen;
  width : 200px;
  height :200px;

}


.bottom-container
{
  background-color: olive;
  width : 200px;
  height :200px;
} */
